:root{
	--branco-principal:#FFFFFF;
	--cinza-segundario:#C0C0C0;
	--botao-azul:#167BF7;
	--cor-de-fundo:#00030C;
	--fonte-principal: "Inter";

}

body{
	background-color: var(--cor-de-fundo); 
	color: var(--branco-principal);
	font-family: var(--fonte-principal);
	font-size: 16px;
	font-weight: 400;
}
*{
	margin: 0;
	padding:0;
}
.principal{
	background-image: url("Background.png");
	background-repeat: no-repeat;
	background-size: contain;
	align-items: center;
	text-align: center;
}

.container{
	height: 100vh;
	display: grid;
	grid-template-columns: 50% 50%;
}

.container__botao{
	background-color: var(--botao-azul);
	border-radius: 7px;
	padding: 1em;
	color: var(--branco-principal);
	display: block;
	text-decoration: none;
	margin-bottom: 1em;
}

.botao_secundario{
	background-color: transparent;
	border:2px solid var(--branco-principal);
}

.container__aviso{
	font-size: 12px;
	color: var(--cinza-segundario)
}

.container__titulo{
	font-size: 28px;
	font-weight: 700;
}

.container__imagem{
	margin: 1em 0 2em 0;
}

.container__caixa{
	margin: 0 6em;
}
.secundario__imagem{
	width: 96%;
}
.secundario{
	align-items: center;
	margin: 0 6em;
}

.descricao__titulo{
	font-weight: 700;
	font-size: 41px;
	color: var(--branco-principal);
	margin-bottom: 0.2em;
}

.descricao__texto{
	color: var(--cinza-segundario)
}

.secundario__botao{
	display: inline-block;
	margin-top: 1em;
}
.container__descricao{
	padding: 1em;
}
.dispositivos__lista{
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 5em 0;
}
.dispositivos{
	text-align: center;
}
.dispositivos__titulo{
	font-size: 43px;
	color: var(--branco-principal)
}
}
.lista__item{
	font-size: 30px;
	color: var(--branco-principal)
}
.rodape__logo{
	display: inline-block;
	
}
.rodape__lista{
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin-top: 1em;	
}
.lista__link a{
	padding-left: 13px;
	color: var(--background-color);
	text-decoration: none;
}
.rodape__texto{
	justify-content: center;
	display: flex;
	text-align: center;
	margin: 1em 0;
	color: var(--cinza-segundario)
}
.lista__link:hover{
	color: red;
}